.place__title {
    margin: 0;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
}

@media (min-width: 758px) {
    .place__title {
        -ms-grid-column: 1;
        grid-column: 1;
        -ms-grid-row: 1;
        grid-row: 1;
        font-size: 42px;
        line-height: 46px;
        text-align: left;
        padding-bottom: 48px;
        padding-right: 0;
        align-self: flex-end;
        width: 340px;
    }
}

@media (min-width: 1004px) {
    .place__title {
        font-size: 72px;
        line-height: 76px;
        width: 460px;
    }
}