.lead__caption_container_caption {
    padding: 0 16px 0;
}

@media (min-width: 758px) {
    .lead__caption_container_caption {
        padding: 48px 24px 0;
    }
}

@media (min-width: 1004px) {
    .lead__caption_container_caption {
        padding: 0;
    }
}