.places__container{
    width: 100%;
    margin: 0 auto;
}

@media(min-width:700px){
    .places__container{
       width: 92%;
    }
}

@media(min-width:900px){
    .places__container{
        width: 90%;
    }
}

@media(min-width:1160px){
    .places__container{
        width: 76%;
    }
}