.place__image{
    width: 100%;
    padding: 32px 0 32px;
    margin: 0 auto;
    grid-column: 1;
    grid-row: 3;
}

@media(min-width:500px){
    .place__image{
        min-width:340px;
    }
}

@media(min-width:750px){
    .place__image{
        grid-column: 1;
        grid-row: 2/4;
        padding: 0;
    }
}

@media(min-width:990px){
    .place__image{
        width: 440px;
    }
}

@media(min-width:1150px){
    .place__image{
        width: 460px;
    }
}