.place__image {
    width: 100%;
    padding-bottom: 32px;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 3;
    grid-row: 3;
}

@media (min-width: 425px) {
    .place__image {
        margin: 0 auto 0;
        width: calc(100% - 32px);
    }
}

@media (min-width: 525px) {
    .place__image {
        width: calc(100% - 40px);
    }
}

@media (min-width: 525px) {
    .place__image {
        width: calc(100% - 48px);
    }
}

@media (min-width: 758px) {
    .place__image {
        -ms-grid-row-span: 3;
        grid-row: span 3;
        padding-bottom: 0;
        padding-left: 24px;
        width: 340px;
        margin: 0;
    }
}

@media (min-width: 1004px) {
    .place__image {
        width: 440px;
        padding-left: 48px;
    }
}

@media (min-width: 1260px) {
    .place__image {
        width: 460px;
        padding-left: 148px;
    }
}
