.intro_container_wrapper {
    margin: 0;
    padding: 64px 16px 0;
}

@media (min-width: 758px) {
    .intro_container_wrapper {
        padding: 88px 24px 0;
    }
}

@media (min-width: 1004px) {
    .intro_container_wrapper {
        padding: 92px 48px 0;
    }
}

@media (min-width: 1260px) {
    .intro_container_wrapper {
        padding: 92px 148px 0;
    }
}