.intro_container_wrapper {
    margin: 0;
    padding: 0 16px 0;
}

@media (min-width: 430px) {
    .intro_container_wrapper {
        padding: 0 24px 0;
    }
}

@media (min-width: 485px) {
    .intro_container_wrapper {
        padding: 0 32px 0;
    }
}

@media (min-width: 550px) {
    .intro_container_wrapper {
        padding: 0 40px 0;
    }
}

@media (min-width: 600px) {
    .intro_container_wrapper {
        padding: 0 44px 0;
    }
}

@media (min-width: 660px) {
    .intro_container_wrapper {
        padding: 0 48px 0;
    }
}

@media (min-width: 730px) {
    .intro_container_wrapper {
        padding: 0 44px 0;
    }
}

@media (min-width: 758px) {
    .intro_container_wrapper {
        padding: 0 24px 0;
    }
}

@media (min-width: 875px) {
    .intro_container_wrapper {
        padding: 0 32px 0;
    }
}

@media (min-width: 950px) {
    .intro_container_wrapper {
        padding: 0 40px 0;
    }
}

@media (min-width: 1004px) {
    .intro_container_wrapper {
        padding: 0 48px 0;
    }
}

@media (min-width: 1260px) {
    .intro_container_wrapper {
        padding: 0 148px 0;
    }
}