.footer__copyright {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    margin: 0;
    padding: 0;
}

@media (min-width: 758px) {
    .footer__copyright {
        -ms-flex-item-align: end;
        align-self: flex-end;
        line-height: 16px;
    }
}