.lead__image {
    width: 100%;
    margin: 0 -16px 0;
    -ms-flex-line-pack: center;
    align-content: center;
}

@media (min-width: 758px) {
    .lead__image {
        width: 100%;
    }
}

@media (min-width: 1004px) {
    .lead__image {
        margin: 0;
        width: 100%;
    }
}