.header_container_wrapper {
    margin: 0;
    padding: 16px 16px 48px;
}

@media (min-width: 758px) {
    .header_container_wrapper {
        padding: 28px 24px 0;
    }
}

@media (min-width: 1004px) {
    .header_container_wrapper {
        padding: 28px 48px 0;
    }
}