.lead__caption {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.15em;
    padding-top: 8px;
    margin: 0;
    -ms-flex-item-align: start;
    align-self: flex-start;
    text-transform: uppercase;
    text-align: start;
}

@media (min-width: 1024px) {
    .lead__caption {
        padding-left: 48px;
    }
}

@media (min-width: 1124px) {
    .lead__caption {
        padding-left: 78px;
    }
}

@media (min-width: 1260px) {
    .lead__caption {
        padding-left: 148px;
    }
}