.lead__caption{
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.15em;
    padding:8px 0 0 16px;
    margin: 0;
    -ms-flex-item-align: start;
    align-self: flex-start;
}

@media(min-width: 650px){
    .lead__caption {
        padding: 8px 0 0 24px;
    }
}

@media(min-width: 998px){
    .lead__caption {
        padding: 8px 0 0 48px;
    }
}

@media(min-width: 1100px){
    .lead__caption {
        padding: 8px 0 0 148px;
    }
}