.container_width_intro{
    width: 90%;
    margin: 0 auto;
    text-align: left;
}

@media(min-width: 750px){
    .container_width_intro {
        width: 96%;
    }
}

@media(min-width: 960px){
    .container_width_intro {
        width: 90%;
    }
}

@media(min-width: 1190px){
    .container_width_intro {
        width: 76%;
    }
}