.intro__title {
    margin: 0;
    padding: 64px 0 40px;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
}

@media (min-width: 420px) {
    .intro__title {
        padding: 74px 0 40px;
        font-size: 40px;
        line-height: 44px;
    }
}

@media (min-width: 768px) {
    .intro__title {
        padding: 88px 0 40px;
        font-size: 54px;
        line-height: 58px;
    }
}

@media (min-width: 1024px) {
    .intro__title {
        padding: 88px 100px 40px;
    }
}

@media (min-width: 1280px) {
    .intro__title {
        padding-top: 92px;
    }
}
